@model Schooldb.WebApp.ViewModels.TeacherEducationsVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span asp-validation-for="SelectedEducationsString" class="text-danger"></span>
                @foreach (var item in Model.ListEducations)  
                {
                        <input type="checkbox" name="SelectedEducationsString[]"  />
        
                }
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Email" class="control-label"></label>
                <input asp-for="Teacher.Email" class="form-control" />
                <span asp-validation-for="Teacher.Email" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Teacher.DateOfBirth" class="control-label"></label>
                <input asp-for="Teacher.DateOfBirth" class="form-control" />
                <span asp-validation-for="Teacher.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Name" class="control-label"></label>
                <input asp-for="Teacher.Name" class="form-control" />
                <span asp-validation-for="Teacher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Gender" class="control-label"></label>
                <input asp-for="Teacher.Gender" class="form-control" />
                <span asp-validation-for="Teacher.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.ImageUrl" class="control-label"></label>
                <input asp-for="Teacher.ImageUrl" class="form-control" />
                <span asp-validation-for="Teacher.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
