
@{
    ViewData["Title"] = "Form_StudentsForEducation";
}

<form action="/student/index" method="post" enctype="application/x-www-form-urlencoded">
    <label for="education">Opleiding:</label>
    <input type="text" name="educationSearch" />
    <input type="submit" value="Verzend" />
</form>